@font-face {
  font-family: 'Source Serif Pro';
  src: url(../fonts/source-serif-pro.regular.ttf) format('ttf');
}
@font-face {
  font-family: 'Source Serif Pro Semibold';
  src: url(../fonts/source-serif-pro.semibold.ttf) format('ttf');
}
@font-face {
  font-family: 'Source Serif Pro Bold';
  src: url(../fonts/source-serif-pro.bold.ttf) format('ttf');
}

body {
	font-family: 'Source Serif Pro', serif;
	color: #222;
}

a {
	text-decoration: none;
}

img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.header-wrap {
	max-width: 1140px;
	margin: 0 auto;
}

.content-wrap {
	max-width: 670px;
	margin: 0 auto;
	padding: 0 12px;
}


.navbar-nav {
	margin-left: auto;
}

.dropdown-menu,
.navbar-nav {
		font-size: 12px;
	font-style: normal;
	line-height: normal;
	letter-spacing: 1.92px;
	text-transform: uppercase;
	color: #222;
	font-family: 'Source Serif Pro Semibold', serif; 
}

.main-header {
	height: 70px;
}

.main-header nav {
	height: 100%;
	padding: 0;
}

.uppercase {
	text-transform: uppercase;
}

.my-btn {
	padding: 8px 16px;
}

section:not(.header-section) {
	margin-top: 64px;
}

.hide {
	display: none;
}

.dropdown-menu {
	border: none;
}


/*-------- HEADER section -------*/
.header-section {
	height: calc(80vh - 70px);
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.header-section-img {
	width: 180px;
	height: 180px;
	border-radius: 4px; 
	overflow: hidden;
}

.header-section-title {
	font-size: 26px;
	font-weight: 600;
	line-height: 32px;
}

audio {
	border-radius: 20px;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
background-color: #fff;
color: #000;
}

.episode-btn {
	border-radius: 3px;
	background: #F5F5F7;
	color: #7247CA;
	font-size: 12px;
	text-transform: capitalize; 
}

.episode-btn i,
.episode-btn span {
	color: #7247CA;
}

.episode-btn i {
	margin-right: 8px;
}

.share {
	width: 135px;
}

.share-title {
	padding-bottom: 15px;
	font-size: 12px;
	letter-spacing: 1.92px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
}

.share-icons {
	justify-content: space-between;
	font-size: 24px;
}

.share-icons a {
	color: #222;
}

/*--------- PODCAST LIST ---------*/

.podcast-list {
	position: relative;
}

.podcast-item {
	margin-bottom: 70px;
}

.podcast-item-new {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 39px;
	height: 23px;
	margin-right: 8px;
	border-radius: 3px;
	background: #F5F5F7; 
	color: #7247CA;
	font-size: 10px;
	text-transform: uppercase; 
}

.podcast-item-header {
	margin-bottom: 12px;
	color: #979797;
	font-size: 14px; 
}

.podcast-item-category {
	padding-right: 5px;
}

.podcast-item-date {
	padding-left: 5px;
}

.podcast-item-title {
	margin-bottom: 12px;
	font-size: 21px;
	font-weight: 600;
	line-height: 25px;
}

.podcast-item-text {
	line-height: 25px;
	color: #555;
}

.podcast-item-btn {
	display: flex;
	align-items: center;

}

.podcast-item-btn i{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
	margin-right: 10px;
	border-radius: 50%;
	background-color: #7247CA;
	font-size: .6rem;
	color: #fff;
}

.podcast-item-btn span {
	color: #7247CA;
	font-size: 12px;
	letter-spacing: 1.92px;
	text-transform: uppercase; 
}

.pagination .pagination-item {
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	margin-right: 5px;
	border-radius: 4px;
	background: #F5F5F7;
	color: #555;
	font-size: 12px;
	cursor: pointer;
}

.pagination .pagination-chevron {
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	color: #555;
	font-size: 12px;
	cursor: pointer;
}

.pagination .pagination-chevron.inactive,
.pagination .pagination-item.inactive {
	cursor: not-allowed;
}

.section-title {
	margin-bottom: 25px;
	font-size: 26px; 
	font-weight: 600;
}

.team-row {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.team-card {
	height: 435px;
	width: 300px;
	border-radius: 4px;
	overflow: hidden;
}

.team-card:not(:last-child) {
	margin-bottom: 20px;
}

.team-card-img {
	height: 300px;
	 
}

.team-card-content {
	position: relative;
	height: calc(100% - 300px);
	padding: 16px;
	background-color: #F5F5F7;
}

.team-card-position {
	margin-bottom: 8px;
	color: #7247CA;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 1.92px;
	text-transform: uppercase; 
}

.team-card-name {
	font-size: 18px; 
}

.team-card-social {
	position: absolute;
	left: 16px;
	bottom: 16px;
}

.team-card-social i {
	font-size: 12px;
	color: #555;
}

.team-card-social a:not(:last-child) {
	margin-right: 15px;
}

.post-item {
	flex-direction: column;
}

.post-item-img {
	width: 180px;
	height: 180px;
	border-radius: 4px; 
	overflow: hidden;
}

.post-item-content {
	padding-bottom: 24px;
}

.post-item-content > div {
	margin-bottom: 16px;
}

.post-item-title {
	font-size: 21px;
	font-weight: 600; 
}

.post-item-date {
	color: #979797;
	font-size: 14px;
	text-transform: capitalize; 
}

.link {
	color: #7247CA!important;
	font-size: 14px;
	font-weight: 600; 
}

footer {
	margin-top: 64px;
	padding: 64px 0 40px;
	border-top: 1px solid #EAEAEE;
}

.footer-menu {
	padding-left: 0;
	list-style: none;
	color: #555;
}

.footer-menu a {
	color: #555;
	font-weight: 600; 
}

.footer-menu li:not(:last-child) {
	margin-bottom: 9px;
}

.footer-form {
	margin-top: 32px;
}

.footer-form-title {
	margin-bottom: 6px;
	font-weight: 600;
	letter-spacing: 2.56px;
	text-transform: uppercase; 
}

.footer-form-subtitle {
	color: #555;
	font-size: 12px;
}

.footer-form form{
	margin-top: 16px;
	position: relative;
}

.footer-form .text-input {
	width: 100%;
	padding: 14px 0 14px 14px;
	border: none;
	outline: none;
	border-radius: 4px; 
	background-color: #F5F5F7;
}

.footer-form .submit-input {
	position: absolute;
	right: 3px;
	top: 3px;
	width: 46px;
	height: 46px;
	background-color: #7247CA;
	border: none;
	outline: none;
	border-radius: 4px;
	color: #fff;
}

.footer-copyright {
	padding-top: 64px;
	font-size: 12px;
	color: #555;
}

.copyright-social {
	margin-top: 26px;
	text-align: center;
}

.copyright-social a {
	color: #222;
	font-size: 1.5rem;
}

.copyright-social a:not(:last-child) {
	margin-right: 23px;
}

#blogPage #postList {
	min-height: calc(100vh - 330px);
}

.error-page {
	min-height: calc(100vh - 588px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.error-page-title {
	font-size: 144px;
	font-style: normal;
	font-weight: 600; 
}

.error-page-subtitle {
	font-size: 26px;
	font-style: normal;
	font-weight: 600;
	line-height: 32px;
}

.error-page-description {
	color: var(--light-colors-dark-gray-light, #555);
	text-align: center;
	font-size: 16px;
	line-height: 25px;
}

.back-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 133px;
	height: 40px;
	border-radius: 4px;
	background: #7247CA;
	color: #fff;
	font-size: 14px;
}

.back-btn:hover {
	color: #fff;
}

.back-btn i {
	margin-left: 5px;
	margin-top: -2px;
	line-height: 1;
	font-size: 12px;
}

/*------- ABOUT page ---------*/

.about .section-subtitle {
	padding-bottom: 40px;
	color: #555;
	font-size: 16px;
	line-height: 25px;
}

.about-row-title {
	padding-bottom: 24px;
	color: #222;
	font-size: 21px;
	font-weight: 600;
	line-height: 25px;
}

.about .team-card-img {
	width: 280px;
	height: 280px;
	align-self: center;
}

.about .team-item {
	flex-direction: column;
}

.about .team-card-content {
	padding-left: 0;
	padding-right: 0;
	background-color: #fff;
}

.about .team-card-social {
	position: static;
}

.about .team-card-text {
	padding: 16px 0 25px;
	color: #555;
	line-height: 25px;
}

section.description p{
	color: #555;
	font-size: 18px; 
}

section.description .section-title {
	color: #222;
	font-size: 21px; 
}

.transcription {
	margin-top: 48px;
}

.transcription summary {
	padding: 24px;
	border: 1px solid #EAEAEE;
	font-size: 21px;
	font-weight: 600;

}

.transcription summary i {
	color: #7247CA;
}

.transcription details > summary {
  list-style: none;
}
.transcription details > summary::-webkit-details-marker {
  display: none;
}

.transcription summary::marker {
	display: none;
	opacity: 0;
}

.transcription details .text {
	padding: 24px;
	color:#555;
	line-height: 25px;
	font-size: 16px;
	max-height: 400px;
	overflow: auto;
	border-bottom: 1px solid #EAEAEE;
	border-left: 1px solid #EAEAEE;
	border-right: 1px solid #EAEAEE;
}

.description .tags {
	margin-top: 48px;
	color: #555;
	font-size: 16px;
	border-bottom: 1px solid #EAEAEE;
	padding-bottom: 24px;
}

.description .tags span {
	margin-right: 24px;
	cursor: pointer;
}

.description .share {
	padding: 40px 0;
	width: 100%;
	border-bottom: 1px solid #EAEAEE;
}

.description .share i {
	margin-left: 24px;
}

.description .share a {
	color: #222;
}

.comments {
	padding-top: 48px;
	border-top: 1px solid #EAEAEE;
}

.comments .form-subtitle {
	color: #979797;
	font-size: 14px; 
}

.comments .comment-form {
	padding-top: 48px;
	padding-bottom: 48px;
	border-bottom: 1px solid #EAEAEE;
}

.comments .comment-form label:not(.checkbox-label) {
	display: block;
	line-height: 25px;
	margin-bottom: 4px;
	margin-top: 24px;
	color: #555; 
}

.comments .comment-form textarea,
.comments .comment-form input:not([type='checkbox']) {
	border-radius: 4px;
	background:#F5F5F7;
	border: none;
	outline: none;
	padding: 15px;
	width: 100%;
}

.comments .comment-form textarea {
	resize: none;
	height: 150px;	
}

.comments .comment-form .checkbox-label {
	display: block;
	margin: 24px 0 48px;
	color: #555;
	font-size: 12px; 
}

.comments .comment-form .submit {
	display: inline-block;
	padding: 8px 16px;
	border-radius: 4px; 
	color: #fff;
	background: #7247CA; 
	cursor: pointer;
	border: none;
	outline: none;
}

.comments .comment-form .submit i {
	font-size: 0.8em;
}

.comment-list {
	margin-top: 60px;
}

.comment-list-item {
	justify-content: space-between;
	padding: 48px 0;
}

.comment-list-item:not(:last-child) {
	border-bottom: 1px solid #EAEAEE;
}

.comment-list-item .avatar {
	width: 50px;
	height: 50px;
	flex-basis: 50px;
/*	flex-grow: 2;*/
	border-radius: 4px; 
	background-image: url('../images/ava1.jpg');
}

.comment-list-item .content {
	width: 100%;
	max-width: calc(100% - 70px);
}

.comment-list-item .content .content-header {
	margin-bottom: 18px;
}

.comment-list-item .content .name {
	margin-right: 16px;
	color: #555;
	font-size: 14px; 
}

.comment-list-item .content .date {
	color: #979797;
	font-size: 14px; 
}

.comment-list-item .content .content-text {
	margin-bottom: 16px;
	color: #555;
	font-size: 16px;
	line-height: 25px;
}

.comment-list-item .content .content-reply {
	cursor: pointer;
	color: #979797; 
}

.comment-list-item .content .content-reply i {
	margin-right: 12px;
}

.error-input {
	border-bottom: 1px solid red!important;
}

.blog-page .podcast-item-date {
	margin-bottom: 48px;
	color: #979797;
	font-family: "Source Serif Pro";
	font-size: 14px; 
}

.blog-page .header-section {
	height: auto;
	padding-top: 90px;

}

.blog-page .header-section-title {
	margin-top: 40px;
	margin-bottom: 16px;
}

.blog-page .audio{
	width: 100%;
	margin-bottom: 40px;
}

.blog-page .audio a {
	justify-content: center;
	align-items: center;
	color: #222;
}

.blog-page details[open] i {
	transform: rotate(90deg);
}

.navbar-nav {
	background-color: #fff;
}


/*------ MEDIA -------*/
@media (min-width: 690px) {
	.content-wrap {
		padding: 0;
	}
	.team-row {
		flex-direction: row;
		justify-content: space-between;
	}
	.team-card:not(:last-child) {
		margin-bottom: 0;
	}
	.post-item {
		flex-direction: row;
		margin-bottom: 24px;
	}
	.post-item-content {
		padding-left: 40px;
	}
	.footer-row {
		display: flex;
		justify-content: space-between;
	}
	.footer-row form {
		width: 315px;
/*		margin-top: 0;*/
	}
	.footer-form {
		margin-top: 0;
	}

	.about .team-card-img {
		width: 300px!important;
		height: 300px!important;
		align-self: normal;
		margin-right: 40px;
	}

	.about .team-item {
		flex-direction: row;
		justify-content: space-between;
	}

	.about .team-item {
		margin-bottom: 24px;
	}

	.about .team-card-content {
		max-width: 328px;
		padding: 0;
		background-color: #fff;
	}

	.about .team-card-social {
		position: static;
	}

	.about .team-card-text {
		padding: 16px 0 25px;
		color: #555;
		line-height: 25px;
	}

}



/*//----------------------------*/
/**************************\
  Basic Modal Styles
\**************************/

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  max-width: 80%;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
}

.modal__btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #e6e6e6;
  color: rgba(0,0,0,.8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}



/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

.modal__container {
	width: 80%;
/*	height: 50%;*/
	z-index: 999;
	padding: 40px 20px 40px;
}

.modal.micromodal-slide {
	position: absolute;
	z-index: 999;
}

.modal-title {

	font-size: 1.2rem;
	text-align: center;
}

.modal.micromodal-slide form input{
	display: block;
	width: 100%;
	height: 30px;
	margin-bottom: 20px;
	border: 1px solid #d3d3d3;
	outline: none;
}

button.submit-btn {
	display: block;
	width: 100%;
	height: 30px;
	border: 1px solid #d3d3d3;
}

.modal__close {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 1.8rem;
	cursor: pointer;
}

.modal.micromodal-slide input[type='text'],
.modal.micromodal-slide input[type='email'],
.modal.micromodal-slide textarea {
	height: 42px;
	border-radius: 4px;
	background: #F5F5F7; 
	border: none;
	outline: none;
}

.modal.micromodal-slide textarea {
	display: block;
	width: 100%;
	height: 100px;
	margin-bottom: 20px;
	resize: none;
}

.modal.micromodal-slide label {
	margin-bottom: 10px;
}

.modal.micromodal-slide .submit-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 90px;
	border-radius: 4px;
	background: #7247CA;
	border: none;
	outline: none;
	color: #fff;
}


/*------- PRELOADER -------*/
.load{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
  width:100px;
  height:100px;
}
.load hr{
	border:0;
	margin:0;
	width:40%;
	height:40%;
	position:absolute;
	border-radius:50%;
	opacity: .8;
	animation:spin 2s ease infinite;
}
.load :first-child{background:#7247CA;animation-delay:-1.5s}
.load :nth-child(2){background:#193B48;animation-delay:-1s}
.load :nth-child(3){background:#7247CA;animation-delay:-0.5s}
.load :last-child{background:#193B48}

@keyframes spin{
  0%,100%{transform:translate(0)}
  25%{transform:translate(160%)}
  50%{transform:translate(160%, 160%)}
  75%{transform:translate(0, 160%)}
}


/*------ SEARCH -------*/
.search-item{
/*	position: relative;*/
}

.search-item .input {
	margin-top: -5px;
	padding: 5px;
	border: none;
	outline: none;
	background-color: #F5F5F7;
}

.my-search-list {
	position: absolute;
	left: 0;
	width: 100vw;
	max-width: 1140px;
	padding: 20px;
	background-color: #F5F5F7;
}

.my-search-list .box {
	padding: 10px 0;
	border-bottom: 1px solid #EAEAEE;
}

.my-search-list .box strong,
.my-search-list .box a {
	display: block;
	text-align: right;
}

.my-search-list .box strong {
	margin-bottom: 10px;
}